
# Arquivos gerados após compilaçao
src/lexer/exe
src/lexer/lex.yy.c
src/parser/cpa
src/parser/*.o
src/parser/*.tab.*
src/parser/*.yy.*
src/parser/recursive/*.o
src/parser/recursive/cpa
src/parser/yacc/*.o
src/parser/yacc/*.tab.*
src/parser/yacc/cpa
src/parser/yacc/*.yy.*
src/parser/yacc/*.output
